In [1]:
import sys
sys.path.append('../../')
from utils import load_data, do_inference, get_tau_result

### For V1

In [7]:
import pandas as pd
list_of_undirected_graphs = load_data('../../../training_data/data/task_from_graph_dag_over_network_corrected_test', num_mappings=100)
list_of_graphs = load_data('../../../training_data/data/task_from_graph_dag_over_network_driected_corrected_test', num_mappings=100)

In [5]:
from v1.model import GCN as GCNv1

tau_list = get_tau_result(
    list_of_undirected_graphs, 
    MODEL=GCNv1, 
    model_path="v1/LatNet_250_state_dict.pth", 
    input_features=6, 
    show_plot=False)
df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.160858
1  1.0  0.139070
2  2.0  0.156667
3  3.0  0.183540
4  4.0  0.277471
5  5.0  0.103764
6  6.0  0.269341
7  7.0  0.101575
8  8.0  0.212645
9  9.0  0.216671

Mean tau: 0.1821601964510866

### V2

In [6]:
from v2.model import GCN as GCNv2

tau_list = get_tau_result(
    list_of_undirected_graphs, 
    MODEL=GCNv2, 
    model_path="v2/LatNet_100_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.105544
1  1.0  0.101848
2  2.0  0.169282
3  3.0  0.264069
4  4.0  0.116483
5  5.0  0.124723
6  6.0  0.318128
7  7.0  0.208453
8  8.0  0.154111
9  9.0  0.213012

Mean tau: 0.17756520439596257

#### V3

In [13]:

from v3.model import GCN as GCNv3
tau_list = get_tau_result(
    list_of_graphs, 
    MODEL=GCNv3, 
    model_path="v3/LatNet_300_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.058364
1  1.0  0.065854
2  2.0  0.092780
3  3.0  0.156152
4  4.0  0.250640
5  5.0  0.040889
6  6.0  0.129487
7  7.0  0.138289
8  8.0  0.013303
9  9.0  0.132929

Mean tau: 0.10786871567950429

### V4

In [14]:

from v4.model import GCN as GCNv4
tau_list = get_tau_result(
    list_of_undirected_graphs, 
    MODEL=GCNv4, 
    model_path="v4/LatNet_600_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.076260
1  1.0  0.073216
2  2.0  0.151784
3  3.0  0.169233
4  4.0  0.145869
5  5.0  0.104175
6  6.0  0.203886
7  7.0  0.124419
8  8.0  0.067743
9  9.0  0.203256

Mean tau: 0.13198425334896052

### V5

In [15]:
from v5.model import GCN as GCNv5
tau_list = get_tau_result(
    list_of_undirected_graphs, 
    MODEL=GCNv5, 
    model_path="v5/LatNet_100_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.167365
1  1.0  0.217603
2  2.0  0.219334
3  3.0  0.247718
4  4.0  0.333264
5  5.0  0.123490
6  6.0  0.315282
7  7.0  0.183570
8  8.0  0.179489
9  9.0  0.182524

Mean tau: 0.2169637974841941

#### V6

In [16]:
from v6.model import GCN as GCNv6
tau_list = get_tau_result(
    list_of_undirected_graphs, 
    MODEL=GCNv6, 
    model_path="v6/LatNet_50_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.107984
1  1.0  0.125163
2  2.0  0.160737
3  3.0  0.233410
4  4.0  0.195273
5  5.0  0.149790
6  6.0  0.259178
7  7.0  0.217428
8  8.0  0.125868
9  9.0  0.253257

Mean tau: 0.1828087443210106

In [11]:

from v7.model import LatencyModel as GCNv7
tau_list = get_tau_result(
    list_of_undirected_graphs, 
    MODEL=GCNv7, 
    model_path="v7/LatNet_200_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.074633
1  1.0  0.081806
2  2.0  0.168875
3  3.0  0.150429
4  4.0  0.245955
5  5.0  0.163352
6  6.0  0.263650
7  7.0  0.218652
8  8.0  0.182764
9  9.0  0.167889

Mean tau: 0.17180042091087672