In [2]:
import sys
sys.path.append('../../')
from utils import load_data, do_inference, get_tau_result

### For V1

In [5]:
import pandas as pd
list_of_graphs = load_data('../../../training_data/data/task_from_graph_dag_over_network_test', num_mappings=100)

In [11]:
from v1.model import GCN as GCNv1

tau_list = get_tau_result(
    list_of_graphs, 
    MODEL=GCNv1, 
    model_path="v1/LatNet_250_state_dict.pth", 
    input_features=6, 
    show_plot=False)
df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.160858
1  1.0  0.139070
2  2.0  0.156667
3  3.0  0.183540
4  4.0  0.277471
5  5.0  0.103764
6  6.0  0.269341
7  7.0  0.101575
8  8.0  0.212645
9  9.0  0.216671

Mean tau: 0.1821601964510866

### V2

In [9]:
from v2.model import GCN as GCNv2

tau_list = get_tau_result(
    list_of_graphs, 
    MODEL=GCNv2, 
    model_path="v2/LatNet_100_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.105544
1  1.0  0.101848
2  2.0  0.169282
3  3.0  0.264069
4  4.0  0.116483
5  5.0  0.124723
6  6.0  0.318128
7  7.0  0.208453
8  8.0  0.154111
9  9.0  0.213012

Mean tau: 0.17756520439596257

#### V3

In [8]:

from v3.model import GCN as GCNv3
list_of_graphs = load_data('../../../training_data/data/task_from_graph_dag_over_network_directed_test', num_mappings=100)
tau_list = get_tau_result(
    list_of_graphs, 
    MODEL=GCNv3, 
    model_path="v3/LatNet_300_state_dict.pth", 
    input_features=6, 
    show_plot=False)

df = pd.DataFrame(tau_list, columns=['idx', 'tau'])
display(df)
print(f"Mean tau: {df['tau'].mean()}")

   idx       tau
0  0.0  0.058364
1  1.0  0.065854
2  2.0  0.092780
3  3.0  0.156152
4  4.0  0.250640
5  5.0  0.040889
6  6.0  0.129487
7  7.0  0.138289
8  8.0  0.013303
9  9.0  0.132929

Mean tau: 0.10786871567950429